<!DOCTYPE html5>
<html lang="en" ng-app="store">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <title>specTangular!!!</title>
  </head>
  <body>
    <div class="container">
      <header class="row">
        <h1>Welcome to SpecTangular Jewels!</h1>
        <p>{{"I am the worlds most" + " AMAZING!!! " + "developer/ jewelry seller!!!!"}}</p>
      </header>
      <section ng-controller="StoreController as store">
        <h2>Here are my Beautiful Jewels! See anything you like?</h2>

        <ul class="list-group" ng-repeat="product in store.products | orderBy: '-price'"> <!---without '-' it displays cheapest first as default --->
          <li class="list-group-item"><h3>{{product.name}}<em class="pull-right">{{product.price | currency }}</em></h3></li>
        </ul>


        <div ng-repeat="product in store.products">
          <h3>{{product.name}}</h3>
          <h3>£{{product.price}}</h3>
          <h3>{{product.colour}}</h3>
          <p>{{product.description}}</p>
          <button ng-show="product.canPurchase"> Add to Cart </button>
        </div>
      </section>
      <script type="text/javascript" src="js/angular.min.js"></script>
      <script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/app.js"></script>
    </div>
  </body>
</html>
