/* styling for "https://github.com/Mervodactyl/specTangular" */
/* Directory "specTangular" */

h1 {
  color: blue;
}

h2 {
  color: green;
}

h3 {
  color: orange;
}

p {
  color: purple;
}

img {
  height: 100px;
  width: 100px;
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}
